Search for places near a given address.

<%= form_tag get_places_path, method: :get, remote: true do %>
    <p>
      <%= text_field_tag :search, params[:places],
                         autofocus: true, placeholder: 'Address' %>
      <%= submit_tag "Get Near Places", id: 'submit' %>
    </p>
<% end %>
<hr>
<h2>Results</h2>
<div id='results'/>
